
        /*     General overwrite     */
        a{
            color: #2C93FF;
        }
        a:hover, a:focus {
            color: #1084FF;
        }
        a:focus, a:active,
        button::-moz-focus-inner,
        input[type="reset"]::-moz-focus-inner,
        input[type="button"]::-moz-focus-inner,
        input[type="submit"]::-moz-focus-inner,
        select::-moz-focus-inner,
        input[type="file"] > input[type="button"]::-moz-focus-inner {
            outline : 0;
        }

        /*           Typography          */

        p{
            font-size: 16px;
            line-height: 1.6180em;
        }

        .main{
            background-position: center center;
            background-size: cover;
            height: auto;
            left: 0;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            top: 0;
            width: auto;
        }
        .cover{
            position: fixed;
            opacity: 1;
            background-color: rgba(0,0,0,.6);
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .cover.black{
            background-color: rgba(0,0,0,.6);
        }

        .logo-container .logo{
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid #333333;
            width: 60px;
            float: left;
        }

        .main .logo{
            color: #FFFFFF;
            font-size: 56px;
            font-weight: 300;
            position: relative;
            text-align: center;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
            margin-top: 150px;
            z-index: 3;
        }
        .main .logo.cursive{
            font-family: 'Grand Hotel',cursive;
            font-size: 82px;

        }
        .main .content{
            position: relative;
            z-index: 4;
        }
        .main .motto{
            min-height: 140px;
        }
        .main .motto, .main .subscribe .info-text{
            font-size: 28px;
            color: #FFFFFF;
            text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
            text-align: center;
            margin-top: 50px;

        }
        .main .subscribe .info-text{
            font-size: 18px;
            margin-bottom: 30px;
        }

        .footer{
            position: relative;
            bottom: 20px;
            right: 0px;
            width: 100%;
            color: #AAAAAA;
            z-index: 4;
            text-align: right;
            margin-top: 50px;
        }
        .footer a{
            color: #FFFFFF;
        }

        @media (min-width:991px){
            .footer{
                position: fixed;
                bottom: 20px;
            }
        }

                body {
    background-color: #f7f7f7;
    color: #4a4a4a;
    font-family: 'open-sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
main {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 20px;
}
/* Anchor Tag */
a {
    color: #2D9CDB;
    font-family: 'open-sans', sans-serif;
    font-weight: 700;
}
a:hover {
    color: #1789C9;
}
/* Articles get some borders, padding, and shadows */
article {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-color: #eaeaea;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
}
/* Avatar */
.avatar {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #81C4E9;
    border-radius: 50%;
    float: left;
    height: 50px;
    margin-right: 10px;
    min-width: 50px;
    position: relative;
}
.avatar img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* Blockquote gets some spacing around it */
blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}
/* Button */
button {
    border: none;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    transform: scale(1);
}
button:hover {
    transform: scale(1.2);
}
button:focus {
    outline: none;
}
button.close {
    opacity: 0.5;
    position: absolute;
    right: 20px;
    top: 20px;
}
button.close:hover {
    opacity: 1;
}
/* The new button in the form */
button.compose {
    background-color: #2D9CDB;
    border-radius: 10px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
}
button.compose:hover {
    background-color: #1789C9;
}
button.heart {
    float: right;
}
button.heart:hover {
    opacity: 1;
}
/* Date Posted */
.date-posted {
    color: #a9a9a9;
    margin-bottom: 0;
    width: 90%;
    float: left;
    margin-top: 0;
}
.date-posted time {
    color: #4a4a4a;
}
/* The footer container */
footer {
    margin-top: 20px;
    height: 15px;
}
footer p {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 300;
}
/* Headings */
h1 {
    font-family: 'open-sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
}
h2 {
    color: #a9a9a9;
    font-family: 'open-sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}
/* Horizontal divider line */
hr {
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
}
/* Form */
form {
    background-color: #D5EBF8;
    border-width: 1px;
    border-style: solid;
    border-color: #81C4E9;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
form.is-error {
    background-color: #fbbfbf;
    border-color: #ec5e5e;
}
form.is-error textarea {
    border-color: #ec5e5e;
    color: #ec5e5e;
}
form.is-error div {
    color: #ec5e5e;
}
/* Textarea */
textarea {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #81C4E9;
    color: #4a4a4a;
    font-size: 14px;
    height: 50px;
    margin-bottom: 2px;
    padding: 6px;
    resize: none;
    width: 100%;
}
textarea::placeholder {
    color: #a9a9a9;
}
textarea:focus {
    border-color: #2D9CDB;
    outline: none;
}
/* Fieldset */
fieldset {
    border: none;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: calc(100% - 122px);
}
fieldset div {
    color: #2D9CDB;
    margin-left: 6px;
    margin-top: 2px;
}

